@import "../valo/valo.scss";

$gray: #d1d1cf;
$green: #40b527;
$darkgreen: darken($green, 30%);

// Prefix all selectors in your theme with .demo
.demo {
	// Include valo theme styles in your theme
	@include valo;

	.v-ui {
		background: #222629;
	}
	
	.bg-0 {
		background: #61892F;
	}	
	
	.bg-1 {
		background: #86C232;
	}
	
	.bg-2 {
		background: #222629;
	}
	
	.bg-3 {
		background: #474B4F;
	}
	
	.bg-4 {
		background: #6B6E70;
	}
	
	.hamburger-white .hamburger-inner {
		background-color: white;
	}
}
